<div class="header-nav">
    <div class="container">
        <header >
            <div class="row">
                <div class="col-md-6 col-sm-6"><a href="#" class="app-logo">BOOK DETAILS</a></div>
                <div class="col-md-6 col-sm-6 text-right">
                    <form>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="bookTitle" (keyup)="onChangeInput(bookTitle)" class="form-control" name="bookTitle" id="book"  placeholder="Keyword..." required>
                            <span class="search-icon"><i class="ion-ios-search"></i></span>
                        </div>
                    </form>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col-sm-12" >
                <div class="banner-area">
                    <div class="left-cell">
                        <h2>WELCOME, HERE YOU CAN FIND THE BOOK RATING</h2>
                    </div>
                </div>

            </div>
        </div>
        <div class="listing-nav">
            <div class="right-cell">
                <ul class="navi-list">
                    <li><a (click)="onCreateNew(e)"><span class="iconic-left"><i class="ion-ios-plus-empty"></i></span>CREATE NEW</a></li>
                    <li><a (click)="onListView(e)"><span class="iconic-left"><i class="ion-ios-list-outline"></i></span>LIST VIEW</a></li>
                    <li><a (click)="onGridView(e)"><span class="iconic-left"><i class="ion-ios-grid-view"></i></span>GRID VIEW</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>