.book-card{
    background-color: #fff;
    padding: 15px;
    font-family: 'Dosis', sans-serif;
    margin-top:15px;
    position: relative;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.book-card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.book-card h5{
    font-family: 'Dosis', sans-serif;
    margin-right: 60px;
    font-size: 18px;
    letter-spacing: 0px;
    color: #000;
}

.book-card p{
    margin-right: 60px;
    color: #111;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
}
.book-card p .rank{
    color: #00BCD4;
}
.action-list{
    margin:0;
    padding: 0;
    list-style: none;
    position: absolute;
    top:0;
    right: 0;
    overflow: hidden;
    background-color: #000;
}
.action-list li{
    display: inline-block;
    float: left;
    background-color: #00BCD4;
}
.action-list li a:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.action-list li a{
    color: #fff;
    padding:5px;
    font-size:12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: block;
    overflow: hidden;
    text-align: center;
}
.action-list li a .iconic{
    display: block;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 25px;
}